/* Déclaration de(s) police(s) personnalisée(s) */
@font-face
{
    font-family: 'Seaford';
        src: url('font/SeafordRg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/* 1er BLOC-CONTENEUR */
/* CONTENEUR pr logo + nav  */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #444;
    background-color: #344D59;
    height: 120px;
    flex-wrap: wrap;
}
#logo{
    height: 70%;

}
#logo img{
    height: 100%;
    background-color: #FFF;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
nav li{
    list-style-type: none;
    font-size: 1.6em;
    text-align: center;
    
}
nav a{
    color: #FFF;
    text-decoration: none;
}

/* 2e BLOC-CONTENEUR */
/* Conteneur Meilleur film */
#best_film_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #444;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

#best_film_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

h1{
    text-align: left;
    font-size: 1.5em;
}
.bouton_details{
    height: 20px;
    width: 120px;
    background: #760001;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.1em;
    text-align: center;
    padding: 4px 8px 4px 8px;
    color: white;
    text-decoration: none;
}
p{
    font-size: 1.0em;
}

.best_film_thumbnail{
    margin-top: 4px;
}

/* fenetre modale Meilleur Film */
.modal {
    position: fixed;
    margin-left: 8px;
    display: none; /* none -> car masquée par défaut*/
    align-items: center;
    justify-content: center;
    width: 95%;

    overflow: auto;
    background: rgba(95, 94, 94, 0.6);
}


.modal-content {
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: rgb(195, 187, 187);
    border: 1px solid black;
    
}
.floatingpic{
    float: inline-start;
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 15px;
}

.modal-body .title{
    font-weight: bold;
    font-size: 1.2em;
}

.close {
    color: red;
    float: right;
    font-size: 1.5em;
    /*font-weight: bold;*/
}

.close:hover, .close:focus {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

/* 3e BLOC-CONTENEUR */

section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sous-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h2{
    font-size: 1.4em;
    align-self: center;
}

.category1, .category2, .category3, .category4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow:  hidden;
}

.slider{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow:  hidden;
}

img.active{
    border: 2px solid #444;
    display: block;
}

.nav-gauche, .nav-droite{
    display: block;
}

@media all and (max-width: 940px) and (min-width: 720px){
    .slider .thumbnail:nth-child(4) {
        display: none;
    }
    .hidden_thumbnails {
        display: none;
    }
}

@media all and (max-width: 720px) and (min-width: 536px){
    .slider .thumbnail:nth-child(4) {
        display: none;
    }
    .slider .thumbnail:nth-child(3) {
        display: none;
    }
    .hidden_thumbnails {
        display: none;
    }
}

@media all and (max-width: 536px) {
    header{
        flex-wrap: wrap;
        padding: 20px;
        }

    #best_film_banner{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .best_film_thumbnail{
        margin-bottom: 30px;
    }

    .slider .thumbnail:nth-child(4) {
        display: none;
    }
    .slider .thumbnail:nth-child(3) {
        display: none;
    }
    .slider .thumbnail:nth-child(2) {
        display: none;
    }
    .hidden_thumbnails {
        display: none;
    }
}
