/* Déclaration de(s) police(s) personnalisée(s) */
@font-face
{
    font-family: 'Seaford';
        src: url('font/SeafordRg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #bbdbfa;
    padding: 5%;
    font-family: 'Seaford', 'Verdana', Arial, sans-serif;
}


/* CONTENEUR pr logo + nav  */
#bloc_header{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    height: 13%;
    width: 100%;
    border: 2px solid #444;
    background-color: #62757f;
    
    color: white;
}

/* Element 'logo' */
#logo{
    min-width: 116px;
    height: 80px;
    overflow: hidden;
}

#logo img{
    width: 116px;
    height: 80px;
}

 /* bloc "menu" */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    height: 80px;
    overflow: hidden;
}

nav ul{
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
}

nav li{
    list-style-type: none;
    font-size: 1.3em;
    text-align: center;
    margin: auto;
}

nav a{
    color: #FFF;
    padding: 10px;
    text-decoration: none;
}


/* Conteneur Meilleur film */
#best_film_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 13%;
    width: 100%;
    border: 2px solid #444;
    padding: 15px;
    overflow: hidden;

}

/* bloc textes et bouton */
#best_film_desc{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    z-index: 1;
    flex: 3;
}

#best_film_desc h1{
    font-size: 1.8em;
}

#best_film_desc p {
    text-align: justify;
    padding-right: 12px;
    overflow: auto;
}

/*bouton pour ouverture fenêtre MODALE*/
.bouton_rouge{
    height: 25px;
    width: 110px;
    background: url('pictures/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img{
    border: 0;
    overflow: hidden;
}

/* bloc affiche du film mis en vedette */
.best_film_pic{
    height: 100%;
    border: 2px solid #444;
    overflow: hidden;
}

img{
    overflow: hidden;
}


/* Conteneur "catégorie " pour titre de catégorie + carousel d'affiches
section{}
*/

/* nom de la catégorie : */
h2{
    font-weight: bold;
    color : black;
    font-size: 1.4em;
    text-align: center;
}

/* bloc carousel */
.category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100%;
}

/* POUR MEMOIRE boutons de défilement pour carousel:
.nav-gauche {}
.nav-droite {}
*/

/* emplacement pour afficher 4 vignettes de films */
.thumbnail_film{
    display: flex;
    /*border: 2px solid #444;*/
    overflow: hidden;
}


/* footer */
#legal_notice{
    font-size: 1em;
    font-style: italic;
    color : black;
    text-align: left;
}
