/* Déclaration de(s) police(s) personnalisée(s) */
@font-face
{
    font-family: 'Seaford', sans-serif;
        src: url('font/SeafordRg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #bbdbfa;
    padding: 50px;
    font-family: 'Seaford', 'Verdana', Arial, sans-serif;
}


header{
    list-style-type: none;
}

/* CONTENEUR pr logo et menu  */
#bloc_header{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    border: 2px solid #444;
    background-color: #62757f;
    position: sticky;
    color: white;
}

#logo img{
    width: 100px;
    height: 80px;   
}

#menu{
    width: 400px;
    display: flex;
    font-size: 1.3em;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: 110px;
    position: sticky;
}

#nonderoulant{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    flex: 1;
}

#nonderoulant p{
    color: #FFF;
    padding: 10px;
}

#deroulant{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    flex: 1;
}

#deroulant p{
    color: white;
    padding: 10px;
}

#deroulant:hover > p{
    color: #21deec;
    text-decoration: underline;
}

#sous-menu{
    margin-top: var(60px);
    position: relative;
    width: 150px;
    overflow: hidden;
    max-height: 0;   
}

#li_ssmenu{
    height: 50px;
    padding-left: 20px;
    align-items: center;
    display: flex;
    color: white;
}

#sous-menu a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

#sous-menu a:hover{
    color: #21deec;
    font-style: italic;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-left: 3px solid #21deec;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
        max-height: 50em;
        border-left: 3px solid #21deec;
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}

#deroulant:hover > #sous-menu{
    animation: apparitionSousMenu 1s forwards
}


/* Bannière Meilleur film */
#best_film_banner{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    text-align: center;
    height: 268px;
    border: 2px solid #444;
}

#best_film_desc{
    display: flex;
    flex-direction: column;
}


.bouton_rouge{
    height: 25px;
    width: 200px;
    background: url('pictures/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img{
    border: 0;
}

.best_film_pic{
    display: flex;
    width: 182px;
    height: 268px;
    border: 2px solid #444;
}


/* sections "catégorie " */

h3{
    font-weight: bold;
    color : black;
    text-align: center;
}

.category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.thumbnail_film{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 182px;
    height: 268px;
    border: 2px solid #444;
}


/* footer */
#legal_notice{
    font-size: 1em;
    font-style: italic;
    color : black;
    text-align: left;
}
